
/* CSS */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .form-group label {
    margin-bottom: 10px;
    display: block;
  }
  
  button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #23527c;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .container {
      max-width: 600px;
    }
    .form-row {
      flex-direction: column;
    }
    .form-group {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 400px;
    }
    .form-group {
      margin-bottom: 5px;
    }
  }

body{
    margin:0px;
    transition: background-color .5s;

}

/* ///// Side Navbar start//////////////////////////// */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* #main {
  transition: margin-left .5s;
  padding: 16px;
} */

@media screen and (max-height: 300px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* ////// SIDE NAVBAR END ///////////////// */





@media screen and (min-width: 300px) {
    .home1 img{
      width:9%;
      height: 1%;
      padding: 0%;
      align-self: center;
    }
}
    

header.home1{
    background-color: #32C4FF;
    margin: 0%;
    width: 100%;
    height: 50px;
    color: #fff;
    position: relative;
    display: flex;
    
    font-size: small;
    margin-right: 5%;
    text-align: left;
    
    
}


.home1 h2{

    margin-left: 10px;
    padding-top: 10px;
    font-size: 28px;
    font-family:Arial Narrow Bold;
    align-self: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 427;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@media screen and (min-width: 300px) {

  .home1 h2{
    padding-left: 1%;
    font-size: 22px;
    font-family:"Poppins", sans-serif;
}
}

