
body{
    margin:0px;
}
@media screen and (min-width: 819px) {
    .home1 img{
      width:9%;
      height: 1%;
      padding: 0%;
      align-self: center;
    }
}
    @media screen and (min-width: 819px) {

      .home1 p{
        padding-left: 1%;
        font-size: 10px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
  }

.home1{
    background-color: #414141;
    margin: 0%;
    width: 100%;
    color: #fff;
    position: relative;
    display: flex;
    
    font-size: small;
    margin-right: 5%;
    text-align: left;
    
    
}
.home1 img{
    width:6%;
    height: 1%;
    padding: 0%;
    align-self: center;
}


.home1 p{
    padding-left: 1%;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}